# ingore Emacs backup files
*~

# ignore Emacs auxiliary files
.#*

# ignore Emacs auxiliary directories
auto/

# ignore executable files on GNU/Linux and Windows
*.exe
a.out
progOut

# ignore HTML files, like these produced by `go cover -html=*' command
*.html

# ignore PDF files
*.pdf

# ignore PNG files
*.png

# ignore auxiliary files created by pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc

# ignore auxiliary files created by Beamer class
*.vrb

# ignore auxiliary files of assembly programming languages
*.o
*.elf




# ignore specific files
GoNum-issues.txt
Go-questions.txt
Julia-YT-channel-description.txt
Julia-YT-widea-z-problemami.txt
Julia-mat-gripes.txt
Julia-Comments-about-documentation.txt

# ingore specific director
Private-work
Pytania
Stuff-for-Internet
target
