# ingore Emacs backup files
*~

# ignore Emacs auxiliary files
.#*

# ignore Emacs auxiliary directories
auto/

# ignore executable files on GNU/Linux and Windows
out
*.exe

# ignore HTML files, like these produced by `go cover -html=*' command
*.html

# ignore PDF files
*.pdf

# ignore PNG files
*.png

# ignore auxiliary files created by pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc





# ignore specific file
GoNum-issues.txt
Go-questions.txt

# ingore specific directory
Pytania