# ignore all PDF files
*.pdf

# ignore auxiliary files created by pdfLaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc

# ingore Emacs backup files
*~

# ignore Emacs auxiliary files
.#*

# ignore auxiliary catalogs
auto/

# ignore Windows executable files
*.exe

# ignore excecutable produced by C or C++ compiler
prog

# ignore PNG files
*.png